parameters:
    level: 7
    paths:
        - app
        - bootstrap/app.php
        - routes
        - database
        - config
    bootstrapFiles:
        - app/Support/TypeAssert.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
